mouse.tooltip {font-weight: normal;} 

mouse.tooltip span {
    z-index:210;
    display:none; 
    padding:14px 10px;
    margin-top:50px; margin-left:-40px;
    min-width: 50px;
    max-width: 450px !important;
    line-height:20px;
    border-radius:2px;        
    box-shadow: 0px 0px 8px 4px #000;
}

mouse.tooltip:hover span{
    display:inline; 
    position:absolute;
    border:2px solid #000000;  
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-size:1.0em;
    background:#C4C4C4 repeat-x 0 0;
}

#ui-bar {
	z-index: 300;
}

#ui-bar-toggle {
	z-index: 500;
}

body.has-images header#title {
	display: none;
}
body.has-images #story-caption {
	/* 256 px: images
	   2.5 em: ui-bar-body margin-top */
	margin-top: calc(256px - 2.5em);
}

.red {
	color: #EC3535;
}

.pink {
	color: #E40081;
}

.purple {
	color: #AA4BC8;
}

.blue {
	color: #4372FF;
}

.lblue {
	color: #559BC0;
}

.teal {
	color: #08C1C1;
}

.green {
	color: #38B20A;
}

.brat {
	color: #B75D41;
}

.meek {
	color: #C44B8B;
}

.def {
	color: #D20000;
}

.hide a {
	color: #eee;
	text-decoration: none;
}

.hide a:hover {
	color: #eee;
	text-decoration: none;
}

.sub {
	color: #AA4BC8;
}

.gold {
	color: #FFD700;
}

.orange {
	color: #f28500
}

.tangerine {
	color: #f28500
}

.black {
	color: #929292
}

.brown {
	color: #aa7243
}

.lewd {
	color: #E04880
}

.grey {
	color: #B7B7B7
}







.general {
    opacity: 0.99;

}




.wetstage2 {
    opacity: 0.90;
		filter: brightness(0.95);

}

.wetstage3 {
    opacity: 0.75;
		filter: brightness(0.90);

}













#statbar {
		position: relative;
		left: 0px;
		top: 9px;
	z-index: 0;
}


#img {
	height: 256px;
	width: 256px;
	overflow: hidden;

	position: fixed;
	top: 0px;
	left: 0px;
}

#img > * {
	position: absolute;
	top: 0px;
	left: 0px;
}

.layer-bg {
	z-index: 0;
}


#daystate {
		position: fixed;
		left: 0px;
		top: 0px;
	z-index: 10;
}

#weather {
		position: fixed;
		left: 0px;
		top: 64px;
	z-index: 10;
}



#location {
		position: fixed;
		left: 0px;
		top: 128px;
	z-index: 10;
}





#divandroidxray {
		position: relative;
		display: inline-block;
		height: 256px;
		width: 256px;

}

#xrayvaginal, #divsex #xrayvaginal {
		position: absolute;
		left: 0px;
		top: 0px;
	z-index: 3;
}

#xrayvaginalcum, #divsex #xrayvaginalcum {
		position: absolute;
		left: 0px;
		top: 0px;
	z-index: 4;
}

#xraypenile, #divsex #xraypenile {
		position: absolute;
		left: 0px;
		top: 0px;
	z-index: 2;
}

#xrayanal, #divsex #xrayanal {
		position: absolute;
		left: 512px;
		top: 0px;
	z-index: 1;
}

#xrayandroidanal, #divsex #xrayandroidanal {
		position: relative;
		left: 0px;
		top: -150px;
	z-index: 1;
}

/*
removed unused:
#arm #underacc #legs #feet #bottom #top #sleeve #outer #outersleeve #neckacc
*/


.layer-backhair {
	z-index: 10;
}
.layer-base {
	z-index: 20;
}
.layer-hirsute {
	z-index: 21;
}
.layer-eyes {
	z-index: 30;
}
.layer-sclera {
	z-index: 35;
}
.layer-mouth {
	z-index: 40;
}
.layer-blush {
	z-index: 50;
}
.layer-tears {
	z-index: 55;
}
.layer-hair {
	z-index: 60;
}
.layer-brow {
	z-index: 62;
}
.layer-lashes {
	z-index: 64;
}
.layer-under {
	z-index: 75;
}
.layer-legsacc {
	z-index: 80;
}
.layer-feetacc {
	z-index: 85;
}
.layer-lower {
	z-index: 90;
}
.layer-upper {
	z-index: 95;
}
.layer-collar {
	z-index: 100;
}
.layer-rightarm {
	z-index: 105;
}
.layer-leftarm {
	z-index: 105;
}
.layer-rightarmclothes {
	z-index: 110;
}
.layer-leftarmclothes {
	z-index: 110;
}
.layer-faceacc {
	z-index: 125;
}
.layer-headacc {
	z-index: 130;
}











#divsex {
		position: relative;
		display: inline-block;
		height: 256px;
		width: 768px;

}
#divsex > * {
	position: absolute;
	left: 256px;
	top: 0px;
}

#divandroidsex {
		position: relative;
		display: inline-block;
		height: 256px;
		width: 256px;
		left: -256px;

}

#closepenis, #divsex #closepenis {
		position: absolute;
		left: 321px;
		top: -30px;
	z-index: 250;
}

#closeanus, #divsex #closeanus {
		position: absolute;
		left: 451px;
		top: -30px;
	z-index: 250;
}

#closevagina, #divsex #closevagina {
		position: absolute;
		left: 386px;
		top: -30px;
	z-index: 250;
}

.layer-voreback {
	z-index: -20;
}
.layer-sexbaseback {
	z-index: 1;
}
.layer-sexpenis {
	z-index: 5;
}
.layer-beastback {
	z-index: 6;
}
.layer-sexbase {
	z-index: 10;
}
.layer-sexbaseoverlay {
	z-index: 12;
}
.layer-sexeyes {
	z-index: 20;
}
.layer-sexsclera {
	z-index: 30;
}
.layer-sexmouth {
	z-index: 40;
}
.layer-sexblush {
	z-index: 50;
}
.layer-sextears {
	z-index: 60;
}
.layer-beastfront {
	z-index: 65;
}
.layer-sexhair {
	z-index: 70;
}
.layer-sexbrow {
	z-index: 80;
}
.layer-sexlashes {
	z-index: 90;
}
.layer-sexbasefront {
	z-index: 100;
}
.layer-doggyhirsute {
	z-index: 101;
}
.layer-sexunder {
	z-index: 102;
}
.layer-sexlower {
	z-index: 104;
}
.layer-sexupper {
	z-index: 106;
}
.layer-sexaboveclothes {
	z-index: 108;
}
.layer-foreground {
	z-index: 200;
}



#divmap {
		position: relative;
		display: inline-block;
		height: 256px;
		width: 256px;

}

#map {
		position: absolute;
		left: 0px;
		top: 0px;
	z-index: 10;
}

#maparrow {
		position: absolute;
		left: 0px;
		top: 0px;
	z-index: 20;
}



















































































/*! <<numberpool>> macro set for SugarCube v2 */
div[id|="numberbox-body"] {
	display: inline-block;
}
div[id|="numberbox-body"] input {
	min-width: 3em;
	width: 3em;
	text-align: center;
}
div[id|="numberbox-body"] button {
	font-family: "tme-fa-icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: normal;
	speak: none;
	padding: 0.4em 0.6em;
}
div[id|="numberbox-body"] button[id|="numberbox-minus"] {
	margin-right: 0.4em;
}
div[id|="numberbox-body"] button[id|="numberbox-plus"] {
	margin-left: 0.4em;
}

div[id|="numberslider-body"] {
	display: inline-block;
}
div[id|="numberslider-body"] span {
	display: inline-block;
	/*font-size: 1.25em;*/
	margin-left: 0.25em;
	min-width: 3em;
	text-align: center;
	vertical-align: middle;
}
div[id|="numberslider-body"] input {
	-webkit-appearance: none;
	cursor: pointer;
	height: 1.25em;
	min-width: 20em;
	vertical-align: middle;
}
div[id|="numberslider-body"] input:focus {
	outline: none;
}
div[id|="numberslider-body"] input::-webkit-slider-runnable-track {
	background: #222;
	border: 1px solid #444;
	border-radius: 0;
	cursor: pointer;
	height: 10px;
	width: 100%;
}
div[id|="numberslider-body"] input::-webkit-slider-thumb {
	-webkit-appearance: none;
	background: #35a;
	border: 1px solid #57c;
	border-radius: 0;
	cursor: pointer;
	height: 18px;
	margin-top: -5px;
	width: 33px;
}
div[id|="numberslider-body"] input:focus::-webkit-slider-runnable-track {
	background: #222;
}
div[id|="numberslider-body"] input::-moz-range-track {
	background: #222;
	border: 1px solid #444;
	border-radius: 0;
	cursor: pointer;
	height: 10px;
	width: 100%;
}
div[id|="numberslider-body"] input::-moz-range-thumb {
	background: #35a;
	border: 1px solid #57c;
	border-radius: 0;
	cursor: pointer;
	height: 18px;
	width: 33px;
}
div[id|="numberslider-body"] input::-ms-track {
	background: transparent;
	border-color: transparent;
	color: transparent;
	cursor: pointer;
	height: 10px;
	width: 99%; /* fallback for MS browsers without support for calc() */
	width: calc(100% - 1px);
}
div[id|="numberslider-body"] input::-ms-fill-lower {
	background: #222;
	border: 1px solid #444;
	border-radius: 0;
}
div[id|="numberslider-body"] input::-ms-fill-upper {
	background: #222;
	border: 1px solid #444;
	border-radius: 0;
}
div[id|="numberslider-body"] input::-ms-thumb {
	background: #35a;
	border: 1px solid #57c;
	border-radius: 0;
	cursor: pointer;
	height: 16px;
	width: 33px;
}
















.meter {
    position: relative;
    height: 0.3em;
    width: 100%;
    background-color: gray;
    text-align: center;
	z-index: -10;
}
.redbar {
    position: absolute;
    left: 0;
    top: 0;
    height: 0.3em;
    background-color: #EC3535;
	z-index: -10;
}



.pinkbar {
    position: absolute;
    left: 0;
    top: 0;
    height: 0.3em;
    background-color: #E40081;
	z-index: -10;
}


.purplebar {
    position: absolute;
    left: 0;
    top: 0;
    height: 0.3em;
    background-color: #AA4BC8;
	z-index: -10;
}



.bluebar {
    position: absolute;
    left: 0;
    top: 0;
    height: 0.3em;
    background-color: #4372FF;
	z-index: -10;
}




.lbluebar {
    position: absolute;
    left: 0;
    top: 0;
    height: 0.3em;
    background-color: #559BC0;
	z-index: -10;
}


.tealbar {
    position: absolute;
    left: 0;
    top: 0;
    height: 0.3em;
    background-color: #08C1C1;
	z-index: -10;
}

.greenbar {
    position: absolute;
    left: 0;
    top: 0;
    height: 0.3em;
    background-color: #38B20A;
	z-index: -10;
}

.goldbar {
    position: absolute;
    left: 0;
    top: 0;
    height: 0.3em;
    background-color: #FFD700;
	z-index: -10;
}


/*
 * Hair/Eye/Clothing colour filters
 * Expected document structure:
 * - some outer element has .hair-$haircolour (or .eye-/.lower-/.upper-/.under-) class
 * - inner image element has .colour-hair (or -eye/-lower/-upper/-under) class
 */
/* Hair: base is red */
.hair-black .colour-hair {
	filter: hue-rotate(0deg) saturate(0%) brightness(40%) contrast(100%);
}
.hair-blond .colour-hair {
	filter: hue-rotate(50deg) saturate(120%) brightness(160%) contrast(100%) sepia(0.6);
}
.hair-blue .colour-hair {
	filter: hue-rotate(210deg) saturate(200%) brightness(60%) contrast(150%);
}
.hair-brown .colour-hair {
	filter: hue-rotate(40deg) saturate(100%) brightness(80%) contrast(100%);
}
.hair-ginger .colour-hair {
	filter: hue-rotate(30deg) saturate(90%) brightness(110%) contrast(100%);
}
.hair-green .colour-hair {
	filter: hue-rotate(90deg) saturate(100%) brightness(100%) contrast(100%);
}
.hair-pink .colour-hair {
	filter: hue-rotate(-20deg) saturate(50%) brightness(130%) contrast(100%);
}
.hair-purple .colour-hair {
	filter: hue-rotate(-90deg) saturate(110%) brightness(60%) contrast(200%);
}
.hair-red .colour-hair {
	filter: hue-rotate(0deg) saturate(100%) brightness(100%) contrast(100%);
}
.hair-white .colour-hair {
    filter: hue-rotate(0deg) saturate(0%) brightness(160%) contrast(100%);
}
/* Eye: base is hazel */
.eye-dark-blue .colour-eye {
	filter: hue-rotate(170deg) brightness(90%) saturate(100%) contrast(140%);
}
.eye-light-blue .colour-eye {
	filter: hue-rotate(150deg) brightness(180%) saturate(70%) contrast(100%);
}
.eye-purple .colour-eye {
	filter: hue-rotate(-120deg) brightness(80%) saturate(200%) contrast(160%);
}
.eye-hazel .colour-eye {
	filter: hue-rotate(0deg) saturate(100%) brightness(100%) contrast(100%);
}
.eye-amber .colour-eye {
	filter: hue-rotate(0deg) brightness(170%) saturate(100%) contrast(100%);
}
.eye-green .colour-eye {
	filter: hue-rotate(30deg) brightness(140%) saturate(100%) contrast(100%);
}
/* Clothing: base is red */
.upper-blue .colour-upper, .lower-blue .colour-lower, .under-blue .colour-under {
	filter: hue-rotate(-120deg) saturate(100%) brightness(100%) contrast(100%);
}
.upper-white .colour-upper, .lower-white .colour-lower, .under-white .colour-under {
	filter: hue-rotate(0deg) saturate(0%) brightness(440%) contrast(140%);
}
.upper-red .colour-upper, .lower-red .colour-lower, .under-red .colour-under {
	filter: hue-rotate(0deg) saturate(100%) brightness(100%) contrast(100%);
}
.upper-green .colour-upper, .lower-green .colour-lower, .under-green .colour-under {
	filter: hue-rotate(120deg) saturate(100%) brightness(150%) contrast(100%);
}
.upper-black .colour-upper, .lower-black .colour-lower, .under-black .colour-under {
	filter: hue-rotate(0deg) saturate(0%) brightness(100%) contrast(150%);
}
.upper-pink .colour-upper, .lower-pink .colour-lower, .under-pink .colour-under {
	filter: hue-rotate(-30deg) saturate(50%) contrast(100%) brightness(160%);
}
.upper-purple .colour-upper, .lower-purple .colour-lower, .under-purple .colour-under {
	filter: hue-rotate(-90deg) saturate(100%) brightness(100%) contrast(100%);
}
.upper-tangerine .colour-upper, .lower-tangerine .colour-lower, .under-tangerine .colour-under {
	filter: hue-rotate(60deg) saturate(150%) brightness(200%) contrast(100%);
}
.upper-yellow .colour-upper, .lower-yellow .colour-lower, .under-yellow .colour-under {
	filter: hue-rotate(65deg) saturate(100%) brightness(290%) contrast(300%);
}

/*
 * Animation-related classes. Work-in-progress
 * Expected document structure:
 * <div class="i256" -- should have the image size-related class
 *                     (or have fixed size & overflow: hidden any other way)
 *    <img class="anim-2s anim-2f" -- should have
 *           1) duration-related class like "anim-2s" (2 seconds)
 *           2) frame count-related class like "anim-2f" (2 frames)
 *        OR
 *    <img class="anim-doggy-4f-vfast"
 *           -- should have frame count & speed class
 *              like "anim-doggy-4f-vfast" (4 frames, very fast)
 */
.i256 {
	width: 256px;
	height: 256px;
	overflow: hidden;
}
.i128 {
	width: 128px;
	height: 128px;
	overflow: hidden;
}
.i64 {
	width: 64px;
	height: 64px;
	overflow: hidden;
}
.i256 > *, .i128 > *, .i64 > * {
	position: absolute;
}
.anim-1s, .anim-2s {
    animation-iteration-count: infinite;
    animation-name: anim-default;
}

/* joint duration & frame-count classes */

/* generic idle animation, -slow(default)/-mid/-fast  */
.anim-idle-1f, .anim-idle-1f-slow { }
.anim-idle-2f, .anim-idle-2f-slow {
	animation-duration: 2s; /* 1s x 2 */
	animation-timing-function: steps(2);
	animation-iteration-count: infinite;
	animation-name: anim-default;
}
.anim-idle-3f, .anim-idle-3f-slow {
	animation-duration: 3s; /* 1s x 3 */
	animation-timing-function: steps(3);
	animation-iteration-count: infinite;
	animation-name: anim-default;
}
.anim-idle-4f-mid {
	animation-duration: 1320ms; /* 330ms x 4 */
	animation-timing-function: steps(4);
	animation-iteration-count: infinite;
	animation-name: anim-default;
}
.anim-idle-4f-fast {
	animation-duration: 320ms; /* 80ms x 4 */
	animation-timing-function: steps(4);
	animation-iteration-count: infinite;
	animation-name: anim-default;
}

/* sex animations, main slot */
.anim-doggy-4f-vfast {
	animation-duration: 320ms; /* 80ms x 4 */
	animation-timing-function: steps(4);
	animation-iteration-count: infinite;
	animation-name: anim-default;
}
.anim-doggy-4f-fast {
	animation-duration: 440ms; /* 110ms x 4 */
	animation-timing-function: steps(4);
	animation-iteration-count: infinite;
	animation-name: anim-default;
}
.anim-doggy-4f-mid {
	animation-duration: 680ms; /* 170ms x 4 */
	animation-timing-function: steps(4);
	animation-iteration-count: infinite;
	animation-name: anim-default;
}
.anim-doggy-4f-slow {
	animation-duration: 1320ms; /* 330ms x 4 */
	animation-timing-function: steps(4);
	animation-iteration-count: infinite;
	animation-name: anim-default;
}

/* sex animations, close-up slots */
.anim-close-3f-vfast {
	animation-duration: 240ms; /* 80ms x 3 */
	animation-timing-function: steps(3);
	animation-iteration-count: infinite;
	animation-name: anim-default;
}
.anim-close-3f-fast {
	animation-duration: 330ms; /* 110ms x 3 */
	animation-timing-function: steps(3);
	animation-iteration-count: infinite;
	animation-name: anim-default;
}
.anim-close-3f-mid {
	animation-duration: 510ms; /* 170ms x 3 */
	animation-timing-function: steps(3);
	animation-iteration-count: infinite;
	animation-name: anim-default;
}
.anim-close-3f-slow {
	animation-duration: 990ms; /* 330ms x 3 */
	animation-timing-function: steps(3);
	animation-iteration-count: infinite;
	animation-name: anim-default;
}
.anim-close-4f-vfast {
	animation-duration: 320ms; /* 80ms x 4 */
	animation-timing-function: steps(4);
	animation-iteration-count: infinite;
	animation-name: anim-default;
}
.anim-close-4f-fast {
	animation-duration: 440ms; /* 110ms x 4 */
	animation-timing-function: steps(4);
	animation-iteration-count: infinite;
	animation-name: anim-default;
}
.anim-close-4f-mid {
	animation-duration: 680ms; /* 170ms x 4 */
	animation-timing-function: steps(4);
	animation-iteration-count: infinite;
	animation-name: anim-default;
}
.anim-close-4f-slow {
	animation-duration: 1320ms; /* 330ms x 4 */
	animation-timing-function: steps(4);
	animation-iteration-count: infinite;
	animation-name: anim-default;
}
.anim-close-5f-vfast {
	animation-duration: 400ms; /* 80ms x 5 */
	animation-timing-function: steps(5);
	animation-iteration-count: infinite;
	animation-name: anim-default;
}
.anim-close-5f-fast {
	animation-duration: 550ms; /* 110ms x 5 */
	animation-timing-function: steps(5);
	animation-iteration-count: infinite;
	animation-name: anim-default;
}
.anim-close-5f-mid {
	animation-duration: 850ms; /* 170ms x 5 */
	animation-timing-function: steps(5);
	animation-iteration-count: infinite;
	animation-name: anim-default;
}
.anim-close-5f-slow {
	animation-duration: 1650ms; /* 330ms x 5 */
	animation-timing-function: steps(5);
	animation-iteration-count: infinite;
	animation-name: anim-default;
}
.anim-close-6f-vfast {
	animation-duration: 480ms; /* 80ms x 6 */
	animation-timing-function: steps(6);
	animation-iteration-count: infinite;
	animation-name: anim-default;
}
.anim-close-6f-fast {
	animation-duration: 660ms; /* 110ms x 6 */
	animation-timing-function: steps(6);
	animation-iteration-count: infinite;
	animation-name: anim-default;
}
.anim-close-6f-mid {
	animation-duration: 1020ms; /* 170ms x 6 */
	animation-timing-function: steps(6);
	animation-iteration-count: infinite;
	animation-name: anim-default;
}
.anim-close-6f-slow {
	animation-duration: 1980ms; /* 330ms x 6 */
	animation-timing-function: steps(6);
	animation-iteration-count: infinite;
	animation-name: anim-default;
}

.anim-xray-8f-vfast {
	animation-duration: 320ms; /* 40ms x 8 */
	animation-timing-function: steps(8);
	animation-iteration-count: infinite;
	animation-name: anim-default;
}
.anim-xray-8f-fast {
	animation-duration: 480ms; /* 60ms x 8 */
	animation-timing-function: steps(8);
	animation-iteration-count: infinite;
	animation-name: anim-default;
}
.anim-xray-8f-mid {
	animation-duration: 640ms; /* 80ms x 8 */
	animation-timing-function: steps(8);
	animation-iteration-count: infinite;
	animation-name: anim-default;
}
.anim-xray-8f-slow {
	animation-duration: 1320ms; /* 170ms x 8 */
	animation-timing-function: steps(8);
	animation-iteration-count: infinite;
	animation-name: anim-default;
}

/* duration related-classes. 
   When adding, don't forget to add it to rule above with animation-iteration-count */
.anim-1s { animation-duration: 1s; }
.anim-2s { animation-duration: 2s; }

/* frame-count related classes */
.anim-2f { animation-timing-function: steps(2); }
.anim-4f { animation-timing-function: steps(4); }

@keyframes anim-default {
      0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}