mouse.tooltip {font-weight: normal;} 

mouse.tooltip span {
    z-index:210;
    display:none; 
    padding:14px 10px;
    margin-top:50px; margin-left:-40px;
    min-width: 50px;
    max-width: 450px !important;
    line-height:20px;
    border-radius:2px;        
    box-shadow: 0px 0px 8px 4px #000;
}

mouse.tooltip:hover span{
    display:inline; 
    position:absolute;
    border:2px solid #000000;  
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-size:1.0em;
    background:#C4C4C4 repeat-x 0 0;
}

#ui-bar {
	z-index: 300;
}

#ui-bar-toggle {
	z-index: 500;
}


.red {
	color: #EC3535;
}

.pink {
	color: #E40081;
}

.purple {
	color: #AA4BC8;
}

.blue {
	color: #4372FF;
}

.lblue {
	color: #559BC0;
}

.teal {
	color: #08C1C1;
}

.green {
	color: #38B20A;
}

.brat {
	color: #B75D41;
}

.meek {
	color: #C44B8B;
}

.def {
	color: #D20000;
}

.hide a {
	color: #eee;
	text-decoration: none;
}

.hide a:hover {
	color: #eee;
	text-decoration: none;
}

.sub {
	color: #AA4BC8;
}

.gold {
	color: #FFD700;
}

.orange {
	color: #f28500
}

.tangerine {
	color: #f28500
}

.black {
	color: #929292
}

.brown {
	color: #aa7243
}

.lewd {
	color: #E04880
}

.grey {
	color: #B7B7B7
}







.general {
    opacity: 0.99;

}




.wetstage2 {
    opacity: 0.90;
		filter: brightness(0.95);

}

.wetstage3 {
    opacity: 0.75;
		filter: brightness(0.90);

}













#statbar {
		position: relative;
		left: 0px;
		top: 9px;
	z-index: 0;
}





#bg {
		position: fixed;
		left: 0px;
		top: 0px;
	z-index: 0;
}


#daystate {
		position: fixed;
		left: 0px;
		top: 0px;
	z-index: 10;
}

#weather {
		position: fixed;
		left: 0px;
		top: 64px;
	z-index: 10;
}



#location {
		position: fixed;
		left: 0px;
		top: 128px;
	z-index: 10;
}





#divandroidxray {
		position: relative;
		display: inline-block;
		height: 256px;
		width: 256px;

}

#xrayvaginal {
		position: absolute;
		left: 0px;
		top: 0px;
	z-index: 3;
}

#xrayvaginalcum {
		position: absolute;
		left: 0px;
		top: 0px;
	z-index: 4;
}

#xraypenile {
		position: absolute;
		left: 0px;
		top: 0px;
	z-index: 2;
}

#xrayanal {
		position: absolute;
		left: 512px;
		top: 0px;
	z-index: 1;
}

#xrayandroidanal {
		position: relative;
		left: 0px;
		top: -150px;
	z-index: 1;
}

#backhair {
		position: absolute;
		left: 0px;
		top: 0px;
	z-index: 10;
}

#base {
		position: absolute;
		left: 0px;
		top: 0px;
	z-index: 20;
}

#hirsute {
		position: absolute;
		left: 0px;
		top: 0px;
	z-index: 21;
}

#arm {
		position: absolute;
		left: 0px;
		top: 0px;
	z-index: 25;
}

#eyes {
		position: absolute;
		left: 0px;
		top: 0px;
	z-index: 30;
}

#sclera {
		position: absolute;
		left: 0px;
		top: 0px;
	z-index: 35;
}

#mouth {
		position: absolute;
		left: 0px;
		top: 0px;
	z-index: 40;
}

#blush {
		position: absolute;
		left: 0px;
		top: 0px;
	z-index: 50;
}

#tears {
		position: absolute;
		left: 0px;
		top: 0px;
	z-index: 55;
}

#hair {
		position: absolute;
		left: 0px;
		top: 0px;
	z-index: 60;
}

#brow {
		position: absolute;
		left: 0px;
		top: 0px;
	z-index: 62;
}


#lashes {
		position: absolute;
		left: 0px;
		top: 0px;
	z-index: 64;
}

#underacc {
		position: absolute;
		left: 0px;
		top: 0px;
	z-index: 70;
}

#under {
		position: absolute;
		left: 0px;
		top: 0px;
	z-index: 75;
}

#legs {
		position: absolute;
		left: 0px;
		top: 0px;
	z-index: 80;
}

#feet {
		position: absolute;
		left: 0px;
		top: 0px;
	z-index: 85;
}

#bottom {
		position: absolute;
		left: 0px;
		top: 0px;
	z-index: 90;
}

#top {
		position: absolute;
		left: 0px;
		top: 0px;
	z-index: 100;
}

#sleeve {
		position: absolute;
		left: 0px;
		top: 0px;
	z-index: 105;
}

#outer {
		position: absolute;
		left: 0px;
		top: 0px;
	z-index: 110;
}

#outersleeve {
		position: absolute;
		left: 0px;
		top: 0px;
	z-index: 115;
}

#neckacc {
		position: absolute;
		left: 0px;
		top: 0px;
	z-index: 120;
}

#faceacc {
		position: absolute;
		left: 0px;
		top: 0px;
	z-index: 125;
}

#headacc {
		position: absolute;
		left: 0px;
		top: 0px;
	z-index: 130;
}











#divsex {
		position: relative;
		display: inline-block;
		height: 256px;
		width: 768px;

}

#divandroidsex {
		position: relative;
		display: inline-block;
		height: 256px;
		width: 256px;
		left: -256px;

}

#voreback {
		position: absolute;
		left: 256px;
		top: 0px;
	z-index: -20;
}



#sexbaseback {
		position: absolute;
		left: 256px;
		top: 0px;
	z-index: 1;
}

#closepenis {
		position: absolute;
		left: 321px;
		top: -30px;
	z-index: 250;
}

#closeanus {
		position: absolute;
		left: 451px;
		top: -30px;
	z-index: 250;
}

#closevagina {
		position: absolute;
		left: 386px;
		top: -30px;
	z-index: 250;
}

#sexpenis {
		position: absolute;
		left: 256px;
		top: 0px;
	z-index: 5;
}

#beastback {
		position: absolute;
		left: 256px;
		top: 0px;
	z-index: 6;
}

#sexbase {
		position: absolute;
		left: 256px;
		top: 0px;
	z-index: 10;
}

#sexbaseoverlay {
		position: absolute;
		left: 256px;
		top: 0px;
	z-index: 12;
}

#sexeyes {
		position: absolute;
		left: 256px;
		top: 0px;
	z-index: 20;
}

#sexsclera {
		position: absolute;
		left: 256px;
		top: 0px;
	z-index: 30;
}

#sexmouth {
		position: absolute;
		left: 256px;
		top: 0px;
	z-index: 40;
}


#sexblush {
		position: absolute;
		left: 256px;
		top: 0px;
	z-index: 50;
}



#sextears {
		position: absolute;
		left: 256px;
		top: 0px;
	z-index: 60;
}

#beastfront {
		position: absolute;
		left: 256px;
		top: 0px;
	z-index: 65;
}

#sexhair {
		position: absolute;
		left: 256px;
		top: 0px;
	z-index: 70;
}


#sexbrow {
		position: absolute;
		left: 256px;
		top: 0px;
	z-index: 80;
}

#sexlashes {
		position: absolute;
		left: 256px;
		top: 0px;
	z-index: 90;
}

#sexbasefront {
		position: absolute;
		left: 256px;
		top: 0px;
	z-index: 100;
}

#doggyhirsute {
		position: absolute;
		left: 256px;
		top: 0px;
	z-index: 101;
}

#sexunder {
		position: absolute;
		left: 256px;
		top: 0px;
	z-index: 102;
}

#sexlower {
		position: absolute;
		left: 256px;
		top: 0px;
	z-index: 104;
}

#sexupper {
		position: absolute;
		left: 256px;
		top: 0px;
	z-index: 106;
}

#sexaboveclothes {
		position: absolute;
		left: 256px;
		top: 0px;
	z-index: 108;
}


#foreground {
		position: absolute;
		left: 256px;
		top: 0px;
	z-index: 200;
}



#divmap {
		position: relative;
		display: inline-block;
		height: 256px;
		width: 256px;

}

#map {
		position: absolute;
		left: 0px;
		top: 0px;
	z-index: 10;
}

#maparrow {
		position: absolute;
		left: 0px;
		top: 0px;
	z-index: 20;
}
































#lower {
		position: absolute;
		left: 0px;
		top: 0px;
	z-index: 90;
}

#upper {
		position: absolute;
		left: 0px;
		top: 0px;
	z-index: 95;
}


#collar {
		position: absolute;
		left: 0px;
		top: 0px;
	z-index: 100;
}

#rightarm {
		position: absolute;
		left: 0px;
		top: 0px;
	z-index: 105;
}

#leftarm {
		position: absolute;
		left: 0px;
		top: 0px;
	z-index: 105;
}

#rightarmclothes {
		position: absolute;
		left: 0px;
		top: 0px;
	z-index: 110;
}


#leftarmclothes {
		position: absolute;
		left: 0px;
		top: 0px;
	z-index: 110;
}

#legsacc {
		position: absolute;
		left: 0px;
		top: 0px;
	z-index: 80;
}

#feetacc {
		position: absolute;
		left: 0px;
		top: 0px;
	z-index: 85;
}



















































/*! <<numberpool>> macro set for SugarCube v2 */
div[id|="numberbox-body"] {
	display: inline-block;
}
div[id|="numberbox-body"] input {
	min-width: 3em;
	width: 3em;
	text-align: center;
}
div[id|="numberbox-body"] button {
	font-family: "tme-fa-icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: normal;
	speak: none;
	padding: 0.4em 0.6em;
}
div[id|="numberbox-body"] button[id|="numberbox-minus"] {
	margin-right: 0.4em;
}
div[id|="numberbox-body"] button[id|="numberbox-plus"] {
	margin-left: 0.4em;
}

div[id|="numberslider-body"] {
	display: inline-block;
}
div[id|="numberslider-body"] span {
	display: inline-block;
	/*font-size: 1.25em;*/
	margin-left: 0.25em;
	min-width: 3em;
	text-align: center;
	vertical-align: middle;
}
div[id|="numberslider-body"] input {
	-webkit-appearance: none;
	cursor: pointer;
	height: 1.25em;
	min-width: 20em;
	vertical-align: middle;
}
div[id|="numberslider-body"] input:focus {
	outline: none;
}
div[id|="numberslider-body"] input::-webkit-slider-runnable-track {
	background: #222;
	border: 1px solid #444;
	border-radius: 0;
	cursor: pointer;
	height: 10px;
	width: 100%;
}
div[id|="numberslider-body"] input::-webkit-slider-thumb {
	-webkit-appearance: none;
	background: #35a;
	border: 1px solid #57c;
	border-radius: 0;
	cursor: pointer;
	height: 18px;
	margin-top: -5px;
	width: 33px;
}
div[id|="numberslider-body"] input:focus::-webkit-slider-runnable-track {
	background: #222;
}
div[id|="numberslider-body"] input::-moz-range-track {
	background: #222;
	border: 1px solid #444;
	border-radius: 0;
	cursor: pointer;
	height: 10px;
	width: 100%;
}
div[id|="numberslider-body"] input::-moz-range-thumb {
	background: #35a;
	border: 1px solid #57c;
	border-radius: 0;
	cursor: pointer;
	height: 18px;
	width: 33px;
}
div[id|="numberslider-body"] input::-ms-track {
	background: transparent;
	border-color: transparent;
	color: transparent;
	cursor: pointer;
	height: 10px;
	width: 99%; /* fallback for MS browsers without support for calc() */
	width: calc(100% - 1px);
}
div[id|="numberslider-body"] input::-ms-fill-lower {
	background: #222;
	border: 1px solid #444;
	border-radius: 0;
}
div[id|="numberslider-body"] input::-ms-fill-upper {
	background: #222;
	border: 1px solid #444;
	border-radius: 0;
}
div[id|="numberslider-body"] input::-ms-thumb {
	background: #35a;
	border: 1px solid #57c;
	border-radius: 0;
	cursor: pointer;
	height: 16px;
	width: 33px;
}
















.meter {
    position: relative;
    height: 0.3em;
    width: 100%;
    background-color: gray;
    text-align: center;
	z-index: -10;
}
.redbar {
    position: absolute;
    left: 0;
    top: 0;
    height: 0.3em;
    background-color: #EC3535;
	z-index: -10;
}



.pinkbar {
    position: absolute;
    left: 0;
    top: 0;
    height: 0.3em;
    background-color: #E40081;
	z-index: -10;
}


.purplebar {
    position: absolute;
    left: 0;
    top: 0;
    height: 0.3em;
    background-color: #AA4BC8;
	z-index: -10;
}



.bluebar {
    position: absolute;
    left: 0;
    top: 0;
    height: 0.3em;
    background-color: #4372FF;
	z-index: -10;
}




.lbluebar {
    position: absolute;
    left: 0;
    top: 0;
    height: 0.3em;
    background-color: #559BC0;
	z-index: -10;
}


.tealbar {
    position: absolute;
    left: 0;
    top: 0;
    height: 0.3em;
    background-color: #08C1C1;
	z-index: -10;
}

.greenbar {
    position: absolute;
    left: 0;
    top: 0;
    height: 0.3em;
    background-color: #38B20A;
	z-index: -10;
}

.goldbar {
    position: absolute;
    left: 0;
    top: 0;
    height: 0.3em;
    background-color: #FFD700;
	z-index: -10;
}


/*
 * Hair/Eye/Clothing colour filters
 * Expected document structure:
 * - some outer element has .hair-$haircolour (or .eye-/.lower-/.upper-/.under-) class
 * - inner image element has .colour-hair (or -eye/-lower/-upper/-under) class
 */
/* Hair: base is red */
.hair-black .colour-hair {
	filter: hue-rotate(0deg) brightness(30%) saturate(0%) contrast(100%);
}
.hair-blond .colour-hair {
	filter: hue-rotate(55deg) brightness(160%) saturate(60%) contrast(100%);
}
.hair-blue .colour-hair {
	filter: hue-rotate(210deg) brightness(60%) saturate(200%) contrast(150%);
}
.hair-brown .colour-hair {
	filter: hue-rotate(40deg) brightness(80%) saturate(80%) contrast(100%);
}
.hair-ginger .colour-hair {
	filter: hue-rotate(30deg) brightness(100%) saturate(100%) contrast(100%);
}
.hair-green .colour-hair {
	filter: hue-rotate(90deg) brightness(100%) saturate(100%) contrast(100%);
}
.hair-pink .colour-hair {
	filter: hue-rotate(-20deg) brightness(150%) saturate(80%) contrast(100%);
}
.hair-purple .colour-hair {
	filter: hue-rotate(-90deg) brightness(70%) saturate(100%) contrast(140%);
}
.hair-red .colour-hair {
	filter: hue-rotate(0deg) brightness(100%) saturate(100%) contrast(100%);
}
/* Eye: base is amber */
.eye-dark-blue .colour-eye {
	filter: hue-rotate(0deg) brightness(100%) saturate(100%) contrast(100%); /* TODO */
}
.eye-light-blue .colour-eye {
	filter: hue-rotate(0deg) brightness(100%) saturate(100%) contrast(100%); /* TODO */
}
.eye-purple .colour-eye {
	filter: hue-rotate(0deg) brightness(100%) saturate(100%) contrast(100%); /* TODO */
}
.eye-hazel .colour-eye {
	filter: hue-rotate(0deg) brightness(100%) saturate(100%) contrast(100%); /* TODO */
}
.eye-amber .colour-eye {
	filter: hue-rotate(0deg) brightness(100%) saturate(100%) contrast(100%);
}
.eye-green .colour-eye {
	filter: hue-rotate(0deg) brightness(100%) saturate(100%) contrast(100%); /* TODO */
}
/* Clothing: base is red */
.upper-blue .colour-upper, .lower-blue .colour-lower, .under-blue .colour-under {
	filter: hue-rotate(-120deg) brightness(100%) saturate(100%) contrast(100%);
}
.upper-white .colour-upper, .lower-white .colour-lower, .under-white .colour-under {
	filter: hue-rotate(40deg) brightness(400%) saturate(0%) contrast(100%);
}
.upper-red .colour-upper, .lower-red .colour-lower, .under-red .colour-under {
	filter: hue-rotate(0deg) brightness(100%) saturate(100%) contrast(100%);
}
.upper-green .colour-upper, .lower-green .colour-lower, .under-green .colour-under {
	filter: hue-rotate(0deg) brightness(100%) saturate(100%) contrast(100%);
}
.upper-black .colour-upper, .lower-black .colour-lower, .under-black .colour-under {
	filter: hue-rotate(0deg) brightness(100%) saturate(0%) contrast(150%);
}
.upper-pink .colour-upper, .lower-pink .colour-lower, .under-pink .colour-under {
	filter: hue-rotate(0deg) brightness(100%) saturate(100%) contrast(100%); /* TODO */
}
.upper-purple .colour-upper, .lower-purple .colour-lower, .under-purple .colour-under {
	filter: hue-rotate(-90deg) brightness(100%) saturate(100%) contrast(100%);
}
.upper-tangerine .colour-upper, .lower-tangerine .colour-lower, .under-tangerine .colour-under {
	filter: hue-rotate(0deg) brightness(100%) saturate(100%) contrast(100%); /* TODO */
}
.upper-yellow .colour-upper, .lower-yellow .colour-lower, .under-yellow .colour-under {
	filter: hue-rotate(60deg) brightness(350%) saturate(150%) contrast(150%);
}

/*
 * Animation-related classes. Work-in-progress
 * Expected document structure:
 * div class="i256" -- should have the image size-related class
 *    img class="anim-2s anim-2f" -- should have
 *           1) duration-related class like anim-2s (2 seconds)
 *           2) frame count-related class like anim-2f (2 frames)
 */
.i256 {
	width: 256px;
	height: 256px;
	overflow: hidden;
}
.anim-1s, .anim-2s {
    animation-iteration-count: infinite;
    animation-name: anim-default;
}

/* duration related-classes. 
   When adding, don't forget to add it to rule above with animation-iteration-count */
.anim-1s { animation-duration: 1s; }
.anim-2s { animation-duration: 2s; }

/* frame-count related classes */
.anim-2f { animation-timing-function: steps(2); }

@keyframes anim-default {
      0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}