# IDE, temp, generated, and other local-only files
.idea/
.vscode
.DS_Store
*~
*.iml
node_modules/
tweego*
Degrees of Lewdity*.html
*.7z
Zimg/
gitw

* Ignoring working folder for Quin2k
mod/
*.code-workspace
release/

# Error logs
yarn-error.log

# Keys
/keys/*
!/keys/README.md
