
node_modules/
# Gradle build artifacts
.gradle
.gradletasknamecache

# Copied artifacts
# Note: We don't ignore /www/img as it's a symlink and is correctly recognized by git.
/www/Degrees of Lewdity.html