body { 
	background: black; 
	color: white;
}
#enemy-controls-cache {
	display: none;
} 
#enemy-controls-container {
	color: black;
	width: 80vw;
	height: 300px;
	overflow-y: auto;
}
#all-controls { 
	display: flex;
}
#divsex {
	margin-top: 250px;
	margin-left: 300px;
	background-color: black;
	/*display: inline;*/
}
#side-panel { 
	width : 20vw;
}
#loadinfo {
	overflow-y: scroll;
	max-height: 30vh;
	display: inline;
	position: fixed;
	right: 0;
	bottom: 0;
}
#global-controls {
	
}
h3 {
	margin-left: 5px;
	margin-bottom: 5px;
	display: block;
}
h4 {
	margin-left: 5px;
	margin-bottom: 2px;
	margin-top: 0px;
	display: block; 
}
.enemy-controller { 
	background : #ddd;
	border-bottom-width: 2px;
	border-bottom-style: solid; 
	border-bottom-color: #0003;
}
.selector { 
	padding-right: 20px;
}
.appearance {                
	display: flex;
	flex-wrap: wrap;            
}
.actions { 
	background : #ccc;
}
.actions div {                
	
	display: flex;
	flex-wrap: wrap;            
}