.main-shop-div {
    position: relative;
}

.button-back-to-shop {
    position: absolute;
    top: -1em;
    left: min(1em, 2%);
    border: 1px solid #444;
    border-left: none;
    width: fit-content;
    padding: 0 0.5em;
    line-height: 2em;
}
.button-back-to-shop:before,
.button-back-to-shop:after {
    content: "";
    border-top: 1px solid #444;
    display: block;
    position: absolute;
    width: 1.16em;
    height: 1em;
    z-index: -1;
}
.button-back-to-shop:before {
    left: -1.16em;
    transform-origin: top right;
    transform: rotate(300deg);
}
.button-back-to-shop:after {
    left: 0;
    transform-origin: top left;
    transform: rotate(240deg);
}
.button-back-to-shop:hover,
.button-back-to-shop:hover::before,
.button-back-to-shop:hover::after {
    background-color: #222;
}

@media only screen and (max-width: 349px) {
    .button-back-to-shop {
        font-size: 90%;
    }
}
@media only screen and (max-width: 320px) {
    .button-back-to-shop {
        font-size: 80%;
    }
}

.clothing-shop-page {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.clothing-item {
    display: inline-flex;
    position: relative;
    width: 49%;
    min-width: 250px;
    border: 1px solid darkgrey;
    margin: 0.25%;
    transition: all 0.1s;
    cursor: pointer;
}
.clothing-item:hover {
    background-color: #222;
}

.clothing-item-spacer {
    display: inline-flex;
    width: 49%;
    min-width: 250px;
    height: 60px;
    border: 1px dashed dimgrey;
    margin: 0.25%;
}
.clothing-item-spacer.compact {
    height: 30px;
}

.clothing-icon {
    position: relative;
    display: flex;
    width: 60px;
    height: 60px;
}

.stats-ball {
    display: inline-block;
    width: 5px;
    height: 5px;
    margin-right: -3px;
    border: 1px solid #555;
    border-radius: 50%;
}

.warm-0 {
    background-color: #62c6ff;
}
.warm-1 {
    background-color: #9dfb76;
}
.warm-2 {
    background-color: #ffee3b;
}
.warm-3 {
    background-color: #ff793b;
}
.warm-4 {
    background-color: #ff481b;
}

.clothing-reveal,
.clothing-integrity,
.clothing-warmth {
    line-height: 50%;
    position: relative;
    top: -2px;
    left: 10px;
}

.clothing-stats-icon {
    width: 19px;
    height: 12px;
}

.clothing-stats-text {
    display: inline-block;
    vertical-align: top;
    font-size: xx-small;
    width: 12px;
    height: 12px;
}

.clothing-price {
    position: absolute;
    background: grey;
    color: black;
    font-size: 0.8em;
    font-weight: bold;
    border-radius: 50% 10% 10% 50%;
    padding: 0px 3px 0px 10px;
    transform: rotate(30deg);
    transform-origin: left;
    right: 1%;
    top: -12%;
    transition: all 0.2s;
}
.clothing-item:hover .clothing-price {
    background: gold;
    transform: rotate(10deg);
    filter: drop-shadow(2px 4px 6px black);
}
.clothing-price:before {
    display: inline-block;
    position: relative;
    background-color: black;
    width: 0.3em;
    height: 0.3em;
    border-radius: 50%;
    content: " ";
    vertical-align: middle;
    left: -15%;
}

.compact > .clothing-price {
    top: unset;
    transform: unset;
}

.pricetag-placeholder {
    width: 65px;
    height: 30px;
    float: right;
}

.clothing-icon img {
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
    transform-origin: top left;
    transform: scale(2, 2);
    height: 30px;
    width: 30px;
}
.clothing-icon #spanIcon #accIcon {
    right: initial;
    height: 30px;
}

.clothing-locked {
    position: absolute;
    width: 60px;
    height: 60px;
}

.clothing-icon.compact,
.clothing-icon.compact img {
    width: 30px;
    height: 30px;
    transform: unset;
    align-self: center;
}

.locked-hint {
    margin-left: 0.5em;
    line-height: 1.25em;
    margin-bottom: 0.25em;
    font-size: 0.9em;
    color: silver;
}
.unlocked-hint {
    font-size: 0.9em;
}

.clothing-name {
    position: relative;
    display: block;
    left: 10px;
    top: 0px;
    line-height: 1.1em;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 2em;
}

.clothing-body {
    width: 100%;
}
.clothing-body.compact {
    display: flex;
    align-items: center;
}

.clothing-gender {
    position: absolute;
    left: 44px;
    top: 42px;
    border-radius: 3px;
    width: 16px;
    height: 16px;
    font-size: 0.6em;
    font-weight: bold;
    text-align: center;
    line-height: 1.2em;
}

.clothing-gender > img,
.clothing-gender * {
    width: inherit;
    height: inherit;
    transform: unset;
}

.clothing-gender > span {
    font-size: 2em;
    font-weight: bolder;
    font-family: -webkit-pictograph;
}

.compact > .clothing-gender {
    left: 25px;
    top: 20px;
    width: 6px;
    height: 6px;
}
.compact > .clothing-gender > .male {
    background-color: #559BC0;
    border-radius: 3px;
}
.compact > .clothing-gender > .female {
    background-color: #E40081;
    border-radius: 3px;
}

.clothing-traits {
    display: inline-block;
    position: absolute;
    left: 165px;
    bottom: 10px;
    width: 100px;
    height: 20px;
    line-height: 1em;
}

.clothing-trait {
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 1px solid lightgrey;
    border-radius: 10%;
    margin-right: -2px;
}

.compact > .clothing-traits {
    position: unset;
    left: unset;
    width: unset;
    white-space: nowrap;
}

.trait-description .clothing-trait {
    margin-right: 0.4em;
}

.trait-description {
    display: flex;
    flex-direction: row-reverse;
    place-content: flex-end;
    align-items: center;
}

@media only screen and (max-width: 639px) {
    .clothing-item,
    .clothing-item-spacer {
        min-width: 90%;
    }
    .clothing-name {
        font-size: 0.9em;
    }
}
@media only screen and (max-width: 577px) {
    .clothing-item,
    .clothing-item-spacer {
        min-width: 100%;
        margin: 0.5%;
    }
}
@media only screen and (max-width: 335px) {
    .clothing-reveal,
    .clothing-integrity,
    .clothing-warmth,
    .clothing-traits {
        display: none;
    }
    .clothing-icon {
        width: 30px;
        height: 30px;
    }
    .clothing-locked {
        width: 30px;
        height: 30px;
    }
    .clothing-item img {
        transform: unset;
    }
    .clothing-item-spacer {
        height: 30px;
    }
    .clothing-gender {
        left: 25px;
        top: 2px;
        width: 12px;
        height: 12px;
    }
    .clothing-item,
    .clothing-item-spacer {
        margin: 0.2em;
        align-items: center;
    }
    .clothing-price {
        background: none;
        color: gold;
        transform: rotate(0);
        font-size: 0.9em;
        top: 0;
    }
    .clothing-price:before {
        display: none;
    }
    .clothing-item:hover .clothing-price {
        background: none;
        transform: rotate(0);
        filter: none;
    }
}

/* Category tabs */
.shop-category-tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 96%;
    margin: 0 0 1em 0;
}

.category-group {
    display: inline-flex;
    margin: 0 5px;
}

.category-tab {
    -ms-transform: skewX(-30deg);
    -webkit-transform: skewX(-30deg);
    transform: skewX(-30deg);
    border: 1px solid white;
    margin: 0 0 -1px -1px;
    transition: all 0.1s;
}
.category-tab:hover {
    background-color: lightgrey;
    cursor: pointer;
}
.category-tab.active,
.category-tab.active:hover {
    background-color: white;
    cursor: unset;
}
.category-tab > img {
    -ms-transform: skewX(30deg);
    -webkit-transform: skewX(30deg);
    transform: skewX(30deg);
    padding: 0px 4px;
    transition: all 0.1s;
}
.category-tab.active > img,
.category-tab.active:hover > img {
    filter: invert(1);
}
.category-tab:hover > img {
    filter: invert(0.8);
}

.category-icon-alt {
    width: 30px;
    height: 30px;
    overflow: hidden;
    transform: skewX(30deg);
    display: flex;
    place-content: center;
    padding: 0 2px;
}
.active > .category-icon-alt,
.category-icon-alt:hover {
    color: black;
}

@media only screen and (max-width: 345px) {
    .category-group { 
        margin: 0; 
    }
    .category-tab > img {
        padding: 0 3px;
    }
}

/* Pagination */
.shop-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em 0 0 0;
}

.shop-pages {
    margin: 0 1em;
}
.shop-pages-number {
    margin: 0 0.5em;
}

.page {
    width: 0.75em;
    height: 0.75em;
    border: 3px solid white;
    border-radius: 50%;
    display: inline-flex;
    vertical-align: middle;
    transition: all 0.1s;
}
.page:not(.active) {
    cursor: pointer;
}
.page:hover {
    background-color: #222;
}
.page.active {
    background-color: white;
}
.page.active a {
    cursor: default;
}

.btn-pagination {
    border: 2px solid white;
    padding: 0 1em;
    text-align: center;
    cursor: pointer;
    transition: all 0.1s;
}
.btn-pagination:hover {
    background-color: #222;
}
.btn-pagination-arrow {
    font-family: monospace;
    font-size: xx-large;
    line-height: 0;
    display: none;
}

.div-link {
    cursor: pointer;
}
.div-link a {
    pointer-events: none;
}

@media only screen and (max-width: 577px) {
    .btn-pagination > a {
        display: none;
    }
    .btn-pagination {
        height: 2em;
        width: 0 !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btn-pagination-arrow {
        display: block;
    }
}

/* Clothing details */

.clothing-details {
    margin-bottom: 1em;
    flex: auto;
}

.cold-resist-icon {
    background-image: url(img/misc/icon/coldresistance.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 1.2em;
}

.colour-options-div {
    display: flex;
    flex-wrap: wrap;
}

.colour-button {
    border: 1px solid #444;
    margin: 0 0.25em 0.25em 0;
    background-color: #222;
    height: fit-content;
}
.colour-button:hover {
    /* mix-blend-mode: difference; */
    opacity: 80%;
}
.colour-button > div {
    display: flex;
    align-items: center;
    padding: 0px 0.3em;
}
.colour-button.active > .bg-custom {
    background-color: #F00;
}
.colour-button:not(.active) > .bg-custom {
    filter: none !important;
}
.colour-options-div > .active > div {
    box-shadow: inset 0 0 0 1px #FFF, inset 0 0 0 2px #000;
}

.colour-button > div > img {
    height: 1.4em;
    margin-right: 0.3em;
    mix-blend-mode: exclusion;
}

.colour-name-span {
    color: #444;
    mix-blend-mode: hard-light;
    filter: drop-shadow(-1px -1px 0px #AAA) drop-shadow(-1px 1px 0px #AAA) drop-shadow(1px 1px 0px #AAA) drop-shadow(1px -1px 0px #AAA);
    pointer-events: none;
}
.colour-name-span-highcontrast {
    color: #111;
    mix-blend-mode: normal;
    filter: drop-shadow(1px 1px 0px #DDD) drop-shadow(1px -1px 0px #DDD) drop-shadow(-1px -1px 0px #DDD) drop-shadow(-1px 1px 0px #DDD);
    pointer-events: none;
}

@media only screen and (max-width: 490px) {
    .colour-options-div {
        font-size: 0.9em;
    }
}
@media only screen and (max-width: 380px) {
    .colour-options-div {
        font-size: 0.8em;
    }
}

/* Mannequin */

.mannequin,
.mannequin-placeholder {
    width: 85px;
    height: 200px;
    margin-right: 1em;
    margin-bottom: 1em;
    flex-shrink: 0;
}
.mannequin {
    overflow: hidden;
    border: 1px solid #444;
    background-color: #222;
    display: table;
    z-index: 1;
}
.mannequin-placeholder {
    float: left;
}

.mannequin-inner {
    transform: translateX(-75px);
}

.mannequin img {
    position: absolute;
}

.clothing-colours-div {
    position: relative;
    display: flex;
    margin-bottom: 1em;
}

.mannequin-buttons {
    position: absolute;
    top: 2px;
    right: -14px;
    z-index: 1;
}

.mannequin-gender-button {
    width: 16px;
    height: 16px;
    border-radius: 20%;
    padding: 2px;
    transition: all 0.1s;
    opacity: 20%;
}
.mannequin-gender-button:hover {
    background-color: #6666;
    opacity: 100%;
}

.mannequin-gender-button > img {
    position: absolute;
    width: inherit;
    height: inherit;
}
.mannequin-gender-button > span {
    display: block;
    line-height: 1em;
    text-align: center;
}

.mannequin-gender-textbutton {
    width: fit-content;
    border-radius: 2px;
    padding: 0 7px;
    transition: all 0.1s;
    font-size: 0.7em;
    position: absolute;
    line-height: 1.2;
    top: calc(200px + 0.4em);
    left: 0;
    color: #6688dd;
}
.mannequin-gender-textbutton:hover {
    background-color: #222;
}
.mannequin-gender-textbutton:hover:before {
    content: "[";
    position: absolute;
    left: 0;
}
.mannequin-gender-textbutton:hover:after {
    content: "]";
    position: absolute;
    right: 0;
}

/* Custom colour sliders */

.colours-container {
    width: 100%;
    min-width: 100%;
}
.translate-colours-container {
    transform: translateX(calc(-85px - 1em));
}

.custom-colour {
    display: flex;
}

.custom-colour-sliders {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}

.colour-slider {
    width: 48%;
    font-size: 0.8em;
}

.colour-slider > .macro-numberslider {
    display: flex;
}

.colour-slider > .macro-numberslider > input {
    border-radius: 3px 0 0 3px;
}

.colour-slider > .macro-numberslider > span {
    border: 1px solid #444;
    border-left: none;
    margin-left: 0;
    border-radius: 0 3px 3px 0;
    line-height: 200%;
}

@media only screen and (max-width: 600px) {
    .custom-colour {
        flex-wrap: wrap;
    }
}
@media only screen and (max-width: 490px) {
    .colour-slider {
        display: flex;
        width: 100%;
    }
    .colour-slider-caption {
        width: max(30%, 7em);
        margin-right: 1em;
    }
}

/* Custom colour presets */

.custom-colour-presets {
    display: flex;
    flex-direction: column;
    line-height: 80%;
    margin-left: 1em;
    place-content: space-evenly;
    padding-top: 1.2em;
}

.presets-dropdown {
    display: flex;
    width: max-content;
}

.save-preset {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    border: 1px solid #444;
    border-radius: 4px;
    transition: all 0.1s;
}
.save-preset > img {
    height: 24px;
    width: 24px;
    place-self: center;
}

.delete-preset {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.5em;
    width: 24px;
    height: 24px;
    padding: 3px;
    border: 1px solid #444;
    border-radius: 3px;
    transition: all 0.1s;
}
.delete-preset > img {
    width: inherit;
    height: inherit;
}

.save-preset:hover,
.delete-preset:hover {
    background-color: #222;
}

@media only screen and (max-width: 600px) {
    .custom-colour-presets {
        flex-direction: row;
        padding-top: 0.5em;
        margin-left: 0.25em;
    }
    .save-preset {
        width: 100px;
        margin-left: 1em;
    }
}

/* Buy & Try on buttons */

.buy-buttons,
.try-buttons {
    display: flex;
    flex-wrap: wrap;
    margin: 1em 0;
}

#buy-send-home {
    width: 19em;
}

.buy-button,
.try-button {
    display: flex;
    flex-direction: column;
    margin-right: 1em;
    margin-bottom: 0.5em;
    border: 1px solid #444;
    line-height: 2em;
}
.buy-button:last-child, 
.try-button:last-child {
    margin-right: 0;
}
.try-button {
    padding: 0 0.5em;
}

.buy-button-inner {
    padding: 0 0.5em;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.buy-button-inner > a {
    margin-right: 0.5em;
}

.buy-button-inner:hover,
.try-button:hover {
    background-color: #222;
}

.disabled {
    border-color: #333;
    color: #444;
    cursor: default;
    background: unset !important;
}
.disabled * {
    color: #444;
}
.disabled img {
    filter: saturate(0) brightness(0.4);
}

.buy-multiple {
    border-right: none;
}

/*
.buy-multiple-slider > div {
    display: flex;
    flex-direction: row-reverse;
}
*/

.buy-multiple-slider > div > input {
    border: none;
    height: 100%;
    max-width: unset;
}

.buy-multiple-slider > div > span {
    display: none;
}

@media only screen and (max-width: 380px) {
    .buy-buttons, .try-buttons {
        font-size: 0.9em;
    }
}
@media only screen and (max-width: 335px) {
    .buy-buttons, .try-buttons {
        font-size: 0.8em;
    }
}

/* Filters */
.filters-button,
.clothingshop-options-button,
.shop-legend-button {
    position: absolute;
    width: 48px;
    height: 48px;
    top: -1.5em;
    border: 1px solid #444;
    border-radius: 3px;
    transition: all 0.1s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.filters-button {
    right: 1em;
}
.clothingshop-options-button {
    right: calc(1.6em + 50px);
}
.shop-legend-button {
    right: calc(2.2em + 100px);
}
.filters-button:hover,
.clothingshop-options-button:hover,
.shop-legend-button:hover,
.shop-legend-button.active {
    background-color: #222;
}

@media only screen and (max-width: 420px) {
    .filters-button,
    .clothingshop-options-button,
    .shop-legend-button {
        zoom: 0.75;
    }
    .filters-button {
        right: 0;
    }
    .clothingshop-options-button {
        right: calc(0.6em + 50px);
    }
    .shop-legend-button {
        right: calc(1.2em + 100px);
    }
}
@media only screen and (max-width: 335px) {
    .filters-button,
    .clothingshop-options-button,
    .shop-legend-button {
        zoom: 0.65;
    }
    .filters-button {
        right: 0;
    }
    .clothingshop-options-button {
        right: calc(0.6em + 50px);
    }
    .shop-legend-button {
        right: calc(1.2em + 100px);
    }
}

.button-icon,
.button-icon > img {
    width: 32px;
    height: 32px;
}

.no-click-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: all;
    backdrop-filter: blur(3px) brightness(0.5);
    z-index: 999;
}

.filters-div,
.options-div {
    position: fixed;
    left: min(7%, 8em);
    right: min(7%, 8em);
    top: min(5%, 8em);
    bottom: min(5%, 8em);
    border: 2px solid white;
    background: #111;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.filter-buttons-div,
.options-buttons-div {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    padding-bottom: 0.5em;
    border-bottom: 2px solid #444;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}

.options-body {
    flex-wrap: wrap;
    overflow: auto;
}

.filter-block {
    display: flex;
    flex-direction: column;
    border: 1px dashed #444;
    padding: 0.5em 1em;
    margin: 0.5em;
}

.filter-reveal-fromto,
.filter-warmth-fromto {
    display: flex;
    flex-direction: column;
    place-items: flex-end;
}
.filter-reveal-fromto > label,
.filter-warmth-fromto > label {
    margin-bottom: 0.5em;
}
.filter-warmth-fromto input {
    width: 7em;
}

.traits-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.filters-trait-row {
    display: flex;
    align-items: center;
    margin-bottom: 0.4em;
    padding-left: 0.5em;
    width: 24%;
    min-width: 10em;
}
.filters-trait-row > label {
    display: flex;
    align-items: center;
}
.filters-trait-row > label > * {
    margin-right: 0.5em;
}

.filter-button,
.options-button {
    border: 1px solid #444;
    text-align: center;
    padding: 0 1em;
    margin: 0.25em 1em;
}
.filter-button:hover,
.options-button:hover {
    background-color: #222;
}

.high-contrast-example {
    display: flex;
    flex-wrap: wrap;
}

/* Legend */
.shop-legend {
    position: absolute;
    top: 2em;
    border: 1px solid;
    background: #222;
    padding: 1em;
    font-size: 90%;
    right: 0%;
    left: 0%;
    z-index: 100;
}

.legend-caption {
    text-align: center;
    font-size: 130%;
}

.legend-2em {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
}
.legend-2em img {
    height: 1.5em;
    margin-right: 0.5em;
}

.legend-warmth-div {
    display: inline-flex;
    width: 40%;
    vertical-align: super;
    margin-right: 0.5em;
}

.legend-colour-sample {
    display: inline-flex;
    width: 1em;
    height: 0.5em;
    border-radius: 3px;
}

.legend-icon {
    width: 1em;
    display: inline-flex;
    justify-content: center;
    vertical-align: middle;
}

/* Warmth scale */
.warmth-scale-container {
    position: relative;
    width: 100%;
    height: 24px;
    overflow: hidden;
}
.warmth-scale-div {
    width: 100%;
    height: 5px;
    display: flex;
}
.warmth-scale-div div {
    height: 100%;
    transition: all 0.2s;
}
.warmth-scale-div > .cold {
    border-radius: 2px 0 0 2px;
    background-color: dodgerblue;
    box-shadow: -10px 0px 5px -3px inset lightskyblue;
}
.warmth-scale-div > .chill {
    background-color: lightskyblue;
    box-shadow: -10px 0px 5px -3px inset lemonchiffon;
}
.warmth-scale-div > .chill.nocold {
    border-radius: 2px 0 0 2px;
}
.warmth-scale-div > .ok {
    background-color: lemonchiffon;
    box-shadow: -10px 0px 5px -3px inset orange;
}
.warmth-scale-div > .ok.nowarm {
    border-radius: 0 2px 2px 0;
    box-shadow: unset;
}
.warmth-scale-div > .warm {
    background-color: orange;
    box-shadow: -10px 0px 5px -3px inset orangered;
}
.warmth-scale-div > .warm.nohot {
    border-radius: 0 2px 2px 0;
    box-shadow: unset;
}
.warmth-scale-div > .hot {
    border-radius: 0 2px 2px 0;
    background-color: orangered;
}

.warmth-scale-div > .diff {
    position: absolute;
    height: 5px;
    mix-blend-mode: luminosity;
}
.warmth-scale-div > .diff.up {
    background: linear-gradient(90deg, transparent, #EF0000D0);
}
.warmth-scale-div > .diff.down {
    background: linear-gradient(90deg, #008EEFD0, transparent);
}

.warmth-scale-container > .warmth-indicator {
    position: absolute;
    transform: translateX(-50%);
}

#warmth-description {
    font-size: 0.9em;
}