.debug-images {
	height: 256px;
	width: 120px;
	overflow: hidden;
	background-color: #222;
	border: solid 1px #ddd;
}
.debug-images > * {
	position: absolute;
	height: 256px;
	overflow: hidden;
	left: -57px;
}

.debug-hideImageOverflow {
	overflow: hidden;
	height: 256px;
	width: 120px;
	position: relative;
}

.left {
	float: left;
}

.debugPassages {
	max-width: 2000px !important;
}

#saveCompareUI {
	border: solid 1px #aaa;
}

#saveCompareUI {
	border: solid 1px #aaa;
}

#comparedResult .item {
	border: solid 1px #aaa;
	padding: 3px;
	margin: 3px 0;
	word-wrap: break-word;
}