#error-reporter-container {
	display: block;
}
#error-reporter-container .hidden {
	display: none !important;
}
#error-reporter-container .pane-tab {
	display: inline-block;
	overflow: hidden;
	padding: 1em;
	border: 1px solid red;
	user-select: none;
	cursor: pointer;
}
#error-reporter-container .pane {
	min-height: 10em;
	border: 1px solid red;
	padding: 1em;
}
#error-reporter-container .messages {
	max-height: 50vh;
	overflow-y: auto;
	margin-bottom: 0.5em;
}
#error-reporter-container .copy-area {
	flex-grow: 1;
	flex-basis: 0;
	margin: 0 1em;
	max-height: 8em;
}
#error-reporter-container .pane > .actions {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}
#error-reporter-container .button {
	display: inline-block;
	user-select: none;
	padding: 1em;
	cursor: pointer;
	background-color: darkslategray;
	align-self: center;
	flex: 0 0 auto;
}
#error-reporter-container .message-entry {
	display: flex;
	flex-flow: row nowrap;
	justify-content: stretch;
	align-items: center;
	margin-bottom: 1em;
	padding: 0.5em 1em;
	border: 1px solid rgba(255, 255, 255, 0.8);
}
#error-reporter-container .message-entry .actions {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: auto;
}
#error-reporter-container .message-entry .message {
	flex-grow: 1;
	flex-basis: 0;
}

